<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nested Layout</title>
    <script src="../../js/common/common_css.js"></script>
    <script src="../../js/common/common_js.js"></script>
</head>
<body>
    <h2>Nested Layout</h2>
    <p>The layout region panel contains another layout or other components.</p>
    <div style="margin:20px 0;"></div>
    <div class="easyui-layout" style="width:100%;height:350px;">
        <div data-options="region:'north'" style="height:50px"></div>
        <div data-options="region:'south',split:true" style="height:50px;"></div>
        <div data-options="region:'east',split:true" title="East" style="width:180px;"></div>
        <div data-options="region:'west',split:true" title="West" style="width:100px;"></div>
        <div data-options="region:'center',iconCls:'icon-ok'" title="Center">
            <div class="easyui-layout" data-options="fit:true">
                <div data-options="region:'north',split:true,border:false" style="height:50px"></div>
                <div data-options="region:'west',split:true,border:false" style="width:100px"></div>
                <div data-options="region:'center',border:false"></div>
            </div>
        </div>
    </div>
</body>
</html>